h1 {
  font-family: "WaltographRegular";
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  text-shadow: 2px 2px 5px slategray;
  color: #a3d9ff;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0px;
}

progress {
  width: 800px;
}

body {
  background: #a3d9ff;
  text-align: center;
  margin: 0px;
}